


<google-map
height="780px"
width="100%"
[zoom]="zoom"
[center]="center"
>
<map-marker
*ngFor="let marker of ubicacionArtesanos"
[position]="{lat: marker.lat, lng : marker.lng}"
[label]="{color: marker.color, text: marker.name}"
[title]="marker.tag"
[icon]="marker.tag == 'Artesano'? 'https://img.icons8.com/color/344/40/potters-wheel.png' : 'https://img.icons8.com/external-itim2101-flat-itim2101/344/40/external-leader-company-itim2101-flat-itim2101.png' "
#somemarker="mapMarker"
(mapClick)="openInfoWindow(somemarker, marker.tag)">

</map-marker>


<map-info-window>{{infoContent}}</map-info-window>


</google-map>